{%load staticfiles%}
<!DOCTYPE html>
<html class="app" lang="en">
<head>
    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-1.7.2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery.SuperSlide.2.1.1.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/style5.css' %}" rel="stylesheet" type="text/css">
    <meta charset="utf-8"/>
    <title>智能機器人</title>
    <style type="text/css">
/* 整體設置*/ 
.navigation {
	margin:0; 
	padding:0;
	width:1500px;
	list-style-type:none; 
	font:12px Arial;
	}

.navigation li {
	float:left; 
    padding:0; 
	margin:0 10px 0 0; 
	_margin:0 2px 0 0; 
	width:150px;
	}

/* 設置選單區塊*/
.navigation li dl { 
	width:150px;/*ie6*/
    margin:0; 
	padding:0;
	background-color:#fff;
	border:solid 2px #666; 
	}
	
.navigation li dt a , .navigation li dd a{ display:block;}


/* 設置主選單dt */
.navigation li dt {
	margin:0;
	padding: 5px;
	text-align:center;
	background-color:#fff;	
	font-size: 12px;
	font-weight: bold;
	height:20px;
	overflow:hidden;
	}

.navigation li dt a ,.navigation  li dt a:visited {
	display:block; 
    color:#333;
    text-decoration:none;
	}

/* 設置子選單dd */
.navigation li dd { 
	margin:0; 
    padding:0; 
	color: #333; 
	background-color:#efefef;
	border-bottom:dotted 1px #666;
	}
	
.navigation li dd.last {
	border-bottom:0;
	}	

.navigation li dd a, .navigation  li dd a:visited {
	display:block; 
	color:#333; 
    text-decoration:none; 
	padding:4px 5px 4px 20px;
    }

	
/*隱藏子選單*/
.navigation li dd { display:none;}


/* 滑鼠滑入顯示子選單 */
.navigation li:hover dd, .navigation li a:hover dd { display:block;}

/*ie6 hack*/
.navigation li:hover,.navigation li a:hover { border:0;}
.navigation table { border-collapse:collapse; 
    padding:0; 		
	text-align:left;
	}
.text-m1{
	margin-left:140px;
}
.tb th {
    background: #DCFEF5;
    border: solid 1px #6DF1CA;
	height:35px;
	padding-left:5px;
}
.tb{ font-size:16px;}
.tb td{
	border: solid 1px #CDCDCD;
	padding-left:0px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:18px;
	}
.tb tr:nth-child(odd){background:#F4F4F4;}
.tb tr:hover{background:#FFC;text-shadow: 0 0 20px red;}	
				/* 本例子css */
		.slideTxtBox{ width:1035px; border:1px solid #B8DDC4; text-align:left;background:#fff;height:240px;border-radius:2px; }
		.slideTxtBox .hd{ height:35px; line-height:35px; background:#f9e8f3; padding:0 10px 0 20px;   border-bottom:1px solid #efccdf;  position:relative; }
		.slideTxtBox .hd ul{ float:left;  position:absolute; left:10px; top:-1px; height:32px;   }
		.slideTxtBox .hd ul li{ float:left; padding:0 15px; cursor:pointer;  }
		.slideTxtBox .hd ul li.on{ height:35px;  background:#fff; border:2px solid #ddb8cd; border-bottom:2px solid #fff; }
		.slideTxtBox .bd ul{ padding-left:5px;  zoom:1;  }
		.slideTxtBox .bd li{ height:30px; line-height:35px; font-size:25px;}
		
		.slideTxtBox .bd li:nth-child(odd){
			background-color:#EEE;}
		.slideTxtBox .bd li:hover{ background-color:#FFC;}	
		.page-list-title{
		font-size:20px;
		font-weight:bold;
		}

.page-list-title:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #59BBD9;
    margin: 0 3px 5px 0;
}
.navBar1 {
	width:220px;
	margin:0 auto;
	margin-left:10px;
	height:20px;
	line-height:30px;
	background:#556b5b;
	color:#333;
}


    </style>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'images/f.png' %}" rel="shortcut icon">

</head>
<body style="background-image: url('{% static 'png/bk3.jpg' %}'); background-position: 0px 0px;">
<section class="vbox">
    <header>
        <div class="navbar-header aside bg-info dk">
            <a class="btn btn-link visible-xs" data-target="#nav,html" data-toggle="class:nav-off-screen,open">
            </a>
            <a class="navbar-brand text-lt" href="/smallschool/">
                <!-- <i class="icon-earphones"></i>-->
                <!--<span class="hidden-nav-xs m-2-sm"> <img height="56" src="{% static 'png/robot2.png' %}"-->
                <!--width="58"></span>-->
                <span class="hidden-nav-xs m-l-sm"><font size="4">Future<img height="35"
                                                                             src="{% static 'png/love.gif' %}"
                                                                             width="27">Futures</font>  </span>
            </a>
            <a class="btn btn-link visible-xs" data-target=".user" data-toggle="dropdown">
                <i class="icon-settings"></i>
            </a>
        </div>

        <div class="nav">
            <!--nav-->
            <div class="navBar">
                <ul class="nav clearfix">
                    <li class="m">
                        <h3><a href="/get_news/" target="_blank"><img src="{% static 'png/money 2.png' %}"> NEWS</a>
                        </h3>
                    </li>
                    <li class="s">|</li>
                    <li class="m">
                        <h3><font color="#FFFFFF"><a target="_blank"><img src="{% static 'png/tap.png' %}">
                            交易資訊</a></font></h3>
                        <ul class="sub">
                            <li><a href="/algotrade/">歷史回測</a></li>
                            <li><a href="/recent/">即時資料</a></li>
                            <li><a href="/stock/">期貨專區</a></li>
                        </ul>
                    </li>
                    <li class="s">|</li>
                    <li class="m">
                        <h3><a href="//" target="_blank"><img src="{% static 'png/business.png' %}"> EDITOR</a></h3>
                    </li>
                    <li class="s">|</li>
                    <li class="m">
                        <h3><font color="#FFFFFF"><a target="_blank"><img src="{% static 'png/technology.png' %}"> 智能機器人</a></font>
                        </h3>
                        <ul class="sub" style="display: none;">
                            <li><a href="/predict/">預知未來型</a></li>
                            <li><a href="/analysis1/">健康診斷型</a></li>
                            <li><a href="/gep/">推薦好股型</a></li>
                            <li><a href="/five/">買賣分析型</a></li>
                            <li><a href="/funds/">投資組合推薦</a></li>
                        </ul>
                    </li>
                    <li class="s">|</li>
                    <li class="m">
                        <h3><a href="/economic_term/" target="_blank"><img src="{% static 'png/anal.png' %}"> 指標專區</a>
                        </h3>
                    </li>
                    <li class="s">|</li>
                    <li class="m">
                        <h3><a href="/tech/" target="_blank"><img src="{% static 'png/pay.png' %}"> 下單機</a></h3>
                    </li>
                    <li class="s">|</li>
                    <li class="m">
                        <h3><font color="#FFFFFF"><a target="_blank"><img src="{% static 'png/school.png' %}"> 新手專區</a></font>
                        </h3>
                        <ul class="sub">
                            <li><a href="/get_article/">討論區</a></li>
                            <li><a href="/rookie/">新手投資小常識</a></li>
                        </ul>
                    </li>
                    <li class="s">|</li>
                    <li class="m">
                        <h3><font color="#FFFFFF"><a href="/member/"><img src="{% static 'png/people-3.png' %}"> 會員</a></font>
                        </h3>
                        <ul class="sub">
                            <li><a href="/new_info/">我的追蹤期貨</a></li>
                            <li><a href="/economic_term/">我的期貨新聞</a></li>
                            <li><a href="/stock_ana/">機器人投顧</a></li>
                        </ul>
                    </li>
                    <li class="block" style="left: 227px;"></li>
                </ul>
            </div>
        </div>
    </header>


    <section>
        <section class="hbox stretch">
            <!-- .aside -->
            <aside class="bg-black dk aside hidden-print" id="nav">
                <section class="vbox">
                    <section class="w-f-md scrollable">

                        <div class="slim-scroll" data-disable-fade-out="true" data-distance="0" data-height="auto"
                             data-railopacity="0.2" data-size="10px">


                            <!-- nav class="nav-primary hidden-xs"<br>
            ul class="nav bg clearfix" -->
                            <nav>
                                <ul class="nav bg clearfix" style="width:230px;">
                                    <li class="dropdown"
                                        style="margin-bottom:-8px; padding-left:25px; padding-right:28px">
                                        <a class="dropdown-toggle bg clear" data-toggle="dropdown" href="#">

                                            <img src="{% static 'png/man2.png' %}"><font
                                                size="3">&nbsp;您好!&nbsp;王曉明</font><b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu animated fadeInRight"
                                            style="margin-left:35px;border-radius: 8px;">
                                            <li>
                                                <span class="arrow top"></span>
                                                <a href="#"><font size="3">個人資料</font></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="badge bg-danger pull-right">3</span>
                                                    <font size="3">訊息</font>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"><font size="3">聯絡我們</font></a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#"><font color="#45968F" size="3">登出</font></a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                                        個股查詢
                                    </li>

                                    <div class="form-group">
                                        <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-sm bg-white btn-icon rounded" type="submit"><i class="fa fa-search"></i></button>
            </span>
                                            <input class="form-control input-sm no-border rounded"
                                                   placeholder="請輸入股號/股名" type="text">
                                        </div>
                                    </div>
                                    <div class="nav navBar1 clearfix dk">
                                        <div class="menu" id="menu">
                                            <div class="menu-header" style="text-align:left; padding-left:65px;">
                                                理財小學堂
                                            </div>
                                            <ul>
                                                <li><a href="/new_info/"><i class=" icon-graduation"
                                                                            style="margin-top:7px; color:#6FAEB7"> </i><font
                                                        size="+1"><strong>新手投資小常識</strong></font></a></li>
                                                <li><a href="/dict/"><i class="icon-direction"
                                                                        style="margin-top:7px;color:#6FAEB7"> </i><font
                                                        size="+1"><strong>經濟指標一覽</strong></font></a>
                                                </li>
                                                <li><a href="/stock_ana/"><i class="icon-bar-chart"
                                                                             style="margin-top:7px ;color:#6FAEB7"> </i><font
                                                        size="+1"><strong>股票分析教室</strong></font></a>

                                                </li>
                                                <li><a href="/choose_stock/"><i class="icon-basket"
                                                                                style="margin-top:7px;color:#6FAEB7"> </i><font
                                                        size="+1"><strong>選股小撇步</strong></font></a>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </ul>
                            </nav>
                        </div>
                    </section>
                    <footer class="footer hidden-xs no-padder text-center-nav-xs">
                        <div class="bg hidden-xs ">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">


                            </a>
                            <ul class="dropdown-menu animated fadeInRight aside text-left">
                                <li>
                                    <span class="arrow bottom hidden-nav-xs"></span>
                                    <a href="#">Settings</a>
                                </li>
                                <li>
                                    <a href="/profile/">Profile</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="badge bg-danger pull-right">3</span>
                                        Notifications
                                    </a>
                                </li>
                                <li>
                                    <a href="/docs/">Help</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a data-toggle="ajaxModal" href="/modal.lockme/">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                </section>
            </aside>
            <!-- /.aside -->
            <section id="content">
                <section class="vbox">
                    <section class="scrollable wrapper">
                        <a id="top"></a>
                        <div class="row text-m">
                            <section class="panel panel-danger">
                                <header class="panel-heading" style="height:50px">
                                    <center><i class="icon-target"
                                               style="margin-top:15px;color:#707067;margin-right:15px;"> </i><strong
                                            style="color: darkslateblue; margin-left:-15px">股票分析</strong></center>
                                </header>
                                <div class="slideTxtBox post-item" style="width:100%;height:550px;margin-bottom:0px;">
                                    <div class="hd">
                                        <ul style="font-size:20px; font-weight:bolder">
                                            <li>基本面分析</li>
                                            <li>技術面分析</li>
                                            <li>籌碼面分析</li>
                                            <li>心理面分析</li>
                                        </ul>
                                    </div>
                                    <div align="center" class="bd" style="margin-left:-5px;">
                                        <ul>
                                            <div class="class-info"
                                                 style="height:290px; background-image:url(bk3.jpg); ">
                                                <img height="245" src="{% static 'images/stock-ana1.jpg' %}"
                                                     style="border: 1px solid #C5C5C5;FLOAT: LEFT; ; MARGIN: 50PX; margin-top:-0px"
                                                     width="240">
                                                <h3 align="center" style="margin-right: 50px;magin-bottom:50px"><font
                                                        color="#326464">股票基本面分析</font></h3>
                                                <hr>
                                                <h4 align="left" style="padding-right:30px;"><font color="#265858"
                                                                                                   face="華康秀風體W3">價值投資好夯，那是什麼東西？財務報表看不懂，怎麼辦？別擔心，基本面分析告訴你！
                                                    運用循序漸進的方式，輕鬆幽默的舉例說明，你也能輕鬆學會基本面分析！ 讓我們一起來學習股票的基本面分析吧！</font></h4>
                                            </div>
                                            <p>
                                            <li class="dropdown-submenu" style="padding: 10px 32px;
    border-width: 1px 1px 1px 6px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 600px;
    height:50px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:  24px;
    right:220px;">
                                                1. 認識基本面<font color="#5DC6C6" size="4" style="padding-left:20px;"><i
                                                    class=" icon-arrow-right"></i></font>
                                                <ul class="dropdown-menu">
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="/stock_ana/?link=1_1" tabindex="-1">1-1 什麼是 基本面 ？</a></li>
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="/stock_ana/?link=2" tabindex="-1">1-2 為什麼基本分析有用?</a></li>
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">1-3 你是價值型or成長型投資人?</a></li>
                                                </ul>
                                            </li>
                                            <br></p><p>
                                            <li class="dropdown-submenu" style="padding: 10px 32px;
    border-width: 1px 1px 1px 6px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 600px;
    height:50px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:  24px;
    right:220px;">
                                                2. 財務報表<font color="#5DC6C6" size="4" style="padding-left:20px;"><i
                                                    class=" icon-arrow-right"></i></font>
                                                <ul class="dropdown-menu">
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">2-1 損益表</a></li>
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">2-2 資產負債表</a></li>
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">2-3 現金流量表</a></li>
                                                </ul>
                                            </li>
                                            <br></p><p>
                                            <li class="dropdown-submenu" style="padding: 10px 32px;
    border-width: 1px 1px 1px 6px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 600px;
    height:50px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:  24px;
    right:220px;">
                                                3.財務比率<font color="#5DC6C6" size="4" style="padding-left:20px;"><i
                                                    class=" icon-arrow-right"></i></font>
                                                <ul class="dropdown-menu">
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">3-1 評估企業獲利能力</a></li>
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">3-2 評估企業償債能力</a></li>
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">3-3 評估企業經營效率</a></li>
                                                </ul>
                                            </li>
                                            </p>
                                        </ul>
                                        <ul>
                                            <div class="class-info"
                                                 style="height:290px; background-image:url(bk3.jpg); ">
                                                <img height="245" src="{% static 'images/stock-ana2.jpg' %}"
                                                     style="border: 1px solid #C5C5C5;FLOAT: LEFT; ; MARGIN: 50PX; margin-top:-0px"
                                                     width="195">
                                                <h3 align="center" style="margin-right: 50px;magin-bottom:50px"><font
                                                        color="#326464">股票技術面分析!</font></h3>
                                                <hr>
                                                <h4 align="left" style="padding-right:30px; font-size:20px;"><font
                                                        color="#265858" face="華康秀風體W3">想看懂技術指標，卻掌握不到訣竅？想瞭解型態規律，卻覺得圖形好複雜？交給技術面分析吧！
                                                    從最簡單的技術分析理論開始， 讓我們一步一步來學習股票的技術面分析吧！</font></h4>
                                                <br>
                                            </div>
                                            <div style="padding: 10px 32px;
    border-width: 1px 1px 1px 6px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 995px;
    height:50px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size: 24px;"><h3 color="#384F4F" style="margin-top:0px;"><a href="/stock_ana/?link=1_10">1. 什麼是技術面?</a><font
                                                    color="#5DC6C6" size="4"><i class=" icon-arrow-right"
                                                                                style="margin-left:30px;"></i></font>
                                            </h3></div>
                                            <br>
                                            <p>
                                            <div style="padding: 10px 32px;
    border-width: 1px 1px 1px 6px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 995px;
    height:50px;
    right:90px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size: larger;"><h3 color="#384F4F" style="margin-top:0px;"><a href="#">2. 技術分析有什麼用?</a><font color="#5DC6C6"
                                                                                                      size="4"><i
                                                    class=" icon-arrow-right" style="margin-left:30px;"></i></font></h3>
                                            </div>
                                            <br>
                                            <p>
                                            <li class="dropdown-submenu" style="padding: 10px 32px;
    border-width: 1px 1px 1px 6px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 650px;
    height:50px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size: 24px;
    margin-left: 8px;
    right:177px;">
                                                3. 技術分析的種類<font color="#5DC6C6" size="4" style="padding-left:20px;"><i
                                                    class=" icon-arrow-right"></i></font>
                                                <ul class="dropdown-menu">
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">3-1 技術分析 - 指標法</a></li>
                                                    <li style="padding: 3px 32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(237, 201, 108);
    box-shadow: rgb(238, 238, 238) 0px 0px 4px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgb(85, 107, 91);
    width: 400px;
    height:40px;
    display: inline-block;
    background-color: rgb(254, 254, 254);
    font-size:16px;"><a href="#" tabindex="-1">3-2 技術分析 - 型態學</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                    <footer class="footer bg-alert">
                        <h6 align="center">Copyright ® 2016 by Robot_Love_Money.com. Corp. All right reserved.
                        </h6>
                    </footer>
                </section>
            </section>
        </section>

    </section>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap -->

    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- App -->
    <script src="{% static 'js/SuperSlide.2.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/zzsc.js' %}" type="text/javascript"></script>
    <script type="text/javascript">jQuery(".slideTxtBox").slide();</script>
    <a href="#top">
        <div id="gotop"><i class="fa fa-hand-o-up"></i> top</div>
    </a>
</section>
</body>
</html>